- include_tasks:
    file: setup.yml
    apply:
      tags:
        - atari.setup
  tags: always

- include_tasks:
    file: build.yml
    apply:
      tags:
        - atari.build
  tags: always

- include_tasks:
    file: run.yml
    apply:
      tags:
        - atari.run
  tags: always

# Always included but never executed without the specific tags (-t chore)
- include_tasks:
    file: chore.yml
    apply:
      tags:
        - never
  tags: always
