---
- name: Ensure that ATARI Git repository is present and up to date
  git:
    repo: 'https://github.com/epfl-si/atari'
    dest: /srv/atari
    version: "master"
    force: yes

- name: "Delete unused file"
  file:
    state: absent
    path: /srv/atari/settings.json

- name: Ensure Traefik repository exists
  file:
    state: directory
    path: "{{ item }}"
    mode: '0755'
  with_items:
   - /srv/traefik/ssl/
   - /srv/traefik/config/

- name: Copy Traefik certificates from keybase
  copy:
    src: "{{ item }}"
    dest: /srv/traefik/ssl/
  with_items:
    - /keybase/team/epfl_atari/ssl/atari_epfl_ch/atari_epfl_ch.crt
    - /keybase/team/epfl_atari/ssl/atari_epfl_ch/DigiCertCA.crt

- name: Template static Traefik configuration
  template:
    src: traefik-static.yml
    dest: /srv/traefik/traefik.yml

- name: Template dynamic Traefik configuration
  template:
    src: traefik-dynamic.yml
    dest: /srv/traefik/config/

- name: Create docker network
  ansible.builtin.docker_network:
    name: atari-network

- name: Build ATARI image
  community.docker.docker_image:
    name: atari
    source: build
    force_source: yes
    build:
      path: /srv/atari

- name: Create Docker ATARI
  ansible.builtin.docker_container:
    name: atari-meteor
    image: atari
    state: started
    ports:
      - "3000:3000"
    networks:
      - name: atari-network
        aliases:
          - meteor
    env:
      ROOT_URL: "https://{{ atari_hostname }}"
      METEOR_SETTINGS: >-
        {{ lookup("pipe",
        "keybase fs read /keybase/team/epfl_atari/settings-{{ inventory_mode }}.json")
        | from_json | to_json }}
    volumes:
      - /srv/atari/maintenance.json:/usr/src/app/maintenance.json

- name: Create Docker Traefik
  ansible.builtin.docker_container:
    name: atari-traefik
    image: traefik:v2.10
    state: started
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/traefik:/etc/traefik
    networks:
      - name: atari-network
