---

- name: Run-time directories
  file:
    state: directory
    path: "{{ item }}"
    recurse: true
    mode: '0755'
  with_items:
   - /srv/traefik/ssl/
   - /srv/traefik/config/
   - /srv/atari/run/mongodb-initdb.d/

- name: Copy Traefik certificates from keybase
  copy:
    src: "{{ item }}"
    dest: /srv/traefik/ssl/
  with_items:
    - /keybase/team/epfl_atari/ssl/atari_epfl_ch/atari_epfl_ch.crt
    - /keybase/team/epfl_atari/ssl/atari_epfl_ch/DigiCertCA.crt

- name: Template static Traefik configuration
  template:
    src: traefik-static.yml
    dest: /srv/traefik/traefik.yml

- name: Template dynamic Traefik configuration
  template:
    src: traefik-dynamic.yml
    dest: /srv/traefik/config/

- name: Create docker network
  ansible.builtin.docker_network:
    name: atari-network

- name: MongoDB initialization script
  copy:
    dest: /srv/atari/run/mongodb-initdb.d/mongo-meteor.js
    content: |
      db.createUser({
        user: 'meteor',
        pwd: 'meteor',
        roles: [
          { role: 'readWrite', db:'meteor'},
        ]
      });

- name: MongoDB
  ansible.builtin.docker_container:
    name: atari-mongo
    image: mongo:8.2
    state: started
    networks:
      - name: atari-network
        aliases:
          - mongodb
    env:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: meteor
    volumes:
      /srv/atari/run/mongodb-initdb.d/:/docker-entrypoint-initdb.d/

- name: ATARI Docker container
  ansible.builtin.docker_container:
    name: atari-meteor
    image: atari
    state: started
    networks:
      - name: atari-network
        aliases:
          - meteor
    env:
      PORT: "3000"
      ROOT_URL: "https://{{ atari_hostname }}"
      MONGO_URL: mongodb://meteor:meteor@mongodb/meteor
      METEOR_SETTINGS: >-
        {{ lookup("pipe",
        "keybase fs read /keybase/team/epfl_atari/settings-{{ inventory_mode }}.json")
        | from_json | to_json }}

- name: Create Docker Traefik
  ansible.builtin.docker_container:
    name: atari-traefik
    image: traefik:v2.10
    state: started
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/traefik:/etc/traefik
    networks:
      - name: atari-network
