# This file handle things to set up the VM (SSH, docker, motd, etc.)
---
- name: Install Docker
  apt:
    name: docker.io
    state: latest
    update_cache: true

- name: Install Python Docker
  apt:
    name: python3-docker
    state: latest
    update_cache: true

- name: Install pip
  apt:
    name: python3-pip
    state: latest
    update_cache: true

- name: Deploy the message of the day
  ansible.builtin.template:
    src: motd.txt
    dest: /etc/motd
    mode: 0644

- name: Add some colors to the shell
  replace:
    path: ~/.bashrc
    regexp: '^#force_color_prompt=yes$'
    replace: 'force_color_prompt=yes'

- name: Allow some of ISAS-FSD members SSH access
  become: true
  ansible.posix.authorized_key:
    user: root
    state: present
    key: "https://github.com/{{ item }}.keys"
  with_items:
    - ponsfrilus
    - domq
    - azecko

- name: Install useful packages
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  with_items:
    - ca-certificates
    - curl
    - git
    - iputils-ping
    - open-vm-tools
    - tmux
    - vim
