tls:
  certificates:
    - certFile: /etc/traefik/ssl/atari_epfl_ch.crt
      keyFile: /etc/traefik/ssl/atari.key
    - certFile: /etc/traefik/ssl/DigiCertCA.crt
      keyFile: /etc/traefik/ssl/atari.key

http:
  routers:
    dashboard:
      rule: "Host(`{{ atari_hostname }}`) && PathPrefix(`/api`, `/dashboard`)"
      service: api@internal
    atari:
      rule: "Host(`{{ atari_host }}`) || Host(`{{ atari_hostname }}`)"
      tls: {}
      service: atari
      entrypoints:
        - https
  services:
    atari:
      loadBalancer:
        servers:
        - url: http://meteor:3000
